<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="shortcut icon" href="../favicon.ico">-->
    <!--<link rel="stylesheet" type="text/css" href="../Styles/default.css" />-->
    <style>
     
    </style>
    <title>About</title>
    <h1 align="center">About Me?</h1>
    <br />
    <h1 align="center">My name is John Mai.</h1>
    <h1 align="center">And I am a programmer. </h1>
</head>
<body >
    <div class="container" >

        <div class="main">
            <ul id="cbp-ntaccordion" class="cbp-ntaccordion">
                <li>
                    <h3 class="cbp-nttrigger">Work</h3>
                    <div class="cbp-ntcontent">
                        <p>I am currently working as a Software Engineer at <a href="http://ces-ltd.com/">Customized Energy Solutions</a>.  I am responsible for developing software applications and supporting business in system maintenance</p>

                    </div>
                </li>
                <li>
                    <h3 class="cbp-nttrigger">Education</h3>
                    <div class="cbp-ntcontent">
                        <p>I have studied at <a href="http://www.ucsc.edu/">University of California Santa Cruz</a> and graduated with a B.S. degree in <a href="http://admissions.ucsc.edu/academics/majors/computer-game-design.html">Computer Science: Computer Game Design</a> </p>
                    </div>
                </li>
                <li>
                    <h3 class="cbp-nttrigger">Hobby</h3>
                    <div class="cbp-ntcontent">
                        <p></p>
                        <ul class="cbp-ntsubaccordion">
                            <li>
                                <h4 class="cbp-nttrigger">Programming</h4>
                                <div class="cbp-ntcontent">
                                    <p>Programming sometimes can be frustrating, but it forces me to think creatively and logically. It's like a work out for the brain. </p>
                                </div>
                            </li>
                            <li>
                                <h4 class="cbp-nttrigger">Video Games</h4>
                                <div class="cbp-ntcontent">
                                    <p>I enjoy playing and making video games. It is one way for me to relieve stress.</p>
                                </div>
                            </li>
                            <li>
                                <h4 class="cbp-nttrigger">Work Out!</h4>
                                <div class="cbp-ntcontent">
                                    <p>Another way for me to relieve stress is through work out. </p>
                                </div>
                            </li>

                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <script src="../lib/modernizr.custom.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../lib/jquery.cbpNTAccordion.min.js"></script>
    <script>
        $(function () {
            $('#cbp-ntaccordion').cbpNTAccordion();
        });
    </script>
</body>