<style>
    textarea {
        width: 80%;
    }

</style>


<div>
    <center>
        <title>Contact Me</title>
        <h4 align="center">Send me an E-mail!</h4>
        <br /><br /><br />
        <form name="myForm" ng-submit="submitOnclick()" ng-controller="ContactController">
            <fieldset>
                <legend></legend>

                <div>
                    <label for="inputTitle">Title:</label>
                    <div>
                        <input type="text" class="input-xxlarge" name="inputTitle" ng-model="formInfo.Title" id="inputTitle" placeholder="Title">
                    </div>
                </div>
                <br />
                <div>
                    <label for="textArea">Message:</label>
                    <div>
                        <textarea class="form-control" required rows="7" ng-model="formInfo.Message" name="textArea" id="textArea"></textarea>
                    </div>
                </div>
                <div>
                    <label for="inputEmail">Your E-Mail Address:</label>
                    <div>
                        <input type="email" id="inputEmail" placeholder="E-mail" name="input" ng-model="formInfo.Email" required>

                    </div>
                </div>
                <div>
                    <div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </center>
</div>
<form action="http://formspree.io/johnxmai@gmailcom" method="POST">
    <input type="email" name="_replyto">
    <textarea name="body"></textarea>
    <input type="submit" value="Send">
</form>
<div id="authorize-div" >
    <span>Authorize access to Gmail API</span>
    <!--Button for the user to click to initiate auth sequence -->
    <button id="authorize-button" ng-click="handleAuthClick(event)">
        Authorize
    </button>
</div>
<pre id="output"></pre>
<br /><br />
