
<div>

    <!--<style>
        -webkit-user-select: none; -moz-user-select: none; -khtml-user-select: none; -ms-user-select: none; canvas.no_selection {
            -webkit-user-select: none; /* webkit (safari, chrome) browsers */
            -moz-user-select: none; /* mozilla browsers */
            -khtml-user-select: none; /* webkit (konqueror) browsers */
            -ms-user-select: none; /* IE10+ */
        }

    </style>-->
    <title>Home</title>
    <h1 align="center">Hi visitor!!Welcome</h1>

    <canvas id="gameCanvas" width="100px" height="100px"></canvas>
    <script type="text/javascript" src="../Character.min.js"></script>
    <script type="text/javascript" src="../Home.min.js"></script>

</div>

