
    <head>
        <!--<link rel="stylesheet" type="text/css" href="../Styles/Project.css" />
        <link rel="stylesheet" type="text/css" href="../Styles/component2.css" />-->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
        <title>Projects</title>
        <!--<link rel="stylesheet" type="text/css" href="css/normalize.css" />-->
        

    </head>
    <body class="demo-2">
     
        <div class="container">
            <section class="grid3d horizontal" id="grid3d">
                <div class="grid-wrap">
                    <div class="grid">
                        
                        <figure title="My Website"><img src="../img/MyWebsite.png"/></figure>
                        <figure title="Person Recognition"><img src="../img/PersonRec.PNG" /></figure>
                        <!--<figure><img src="../img/3.jpg" alt="img03" /></figure>
                        <figure><img src="../img/1.jpg" alt="img01" /></figure>
                        <figure><img src="../img/5.jpg" alt="img05" /></figure>
                        <figure><img src="../img/2.jpg" alt="img02" /></figure>
                        <figure><img src="../img/8.jpg" alt="img08" /></figure>
                        <figure><img src="../img/9.jpg" alt="img09" /></figure>
                        <figure><img src="../img/6.jpg" alt="img06" /></figure>
                        <figure><img src="../img/7.jpg" alt="img07" /></figure>-->
                    </div>
                </div><!-- /grid-wrap -->
                <div class="content">
                    <div>
                        <h1 align="center">My personal website</h1>
                        <img class="borderSolid" src="../img/MyWebsite.png" />
                        
                        <p>Thanks to: </p>

                        <ul >
                            <li>Angularjs: A powerful html framework.</li>
                            <li>Ferro Menu: A simple jQuery menu plugin.</li>
                            <li>Font Awesome: The iconic font and CSS toolkit</li>
                            <li>Blueprints: A collection plugins and layouts with minimal style for easy adaption and usage.</li>
                            <li>Sithjester's RPG Maker XP resources</li>
                        </ul>
                        
                    </div>

                    <div>
                     
                    </div>
                    <div>
                       
                    </div>
                    <div>
                    
                    </div>
                    <div>
                     
                    </div>
                    <div>
                     
                    </div>
                    <div>
                        
                    </div>
                    <div>
                        
                    </div>
                    <div>
                       
                    </div>
                    <span class="loading"></span>
                    <span class="icon close-content"></span>
                </div>
            </section>
        </div><!-- /container -->
        <script src="../lib/modernizr.custom2.js"></script>
        <script src="../lib/classie.js"></script>
        <script src="../lib/helper.js"></script>
        <script src="../lib/grid3d.js"></script>
        <script>
            new grid3D(document.getElementById('grid3d'));
        </script>
    </body>
